@use 'sass:map';
@use '@/assets/scss/common/color' as *;

#footer {
  padding: 1.5rem 0;

  .footer__info {
    margin-bottom: 1.5rem;
    text-align: center;

    &-item {
      img {
        max-width: 10rem;
      }

      &-desc {
        margin-top: .5rem;
        font-size: 1.4rem;
        color: map.get($colors, "foreground");
      }
    }
  }

  .footer__copyright {
    padding-top: 1.5rem;
    border-top: 1px solid #e5e7eb;
    font-size: 1.3rem;
    color: #666;
    text-align: center;
  }
}

@media all and (min-width: 768px) {
  #footer {
    .footer__info {
      &-item {
        &-desc {
          font-size: 1.6rem;
        }
      }
    }

    .footer__copyright {
      font-size: 1.5rem;
    }
  }
}