@font-face {
  src: url(../font/NotoSansKR-VariableFont_wght.ttf) format('truetype');
  font-family: 'Noto Sans KR';
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  src: url(../font/GoogleSansCode-VariableFont_wght.ttf) format('truetype');
  font-family: 'Google Sans Code';
  font-weight: 100 900;
  font-display: swap;
}