.dashboard {
  display: grid;
  grid-template-columns: 4.5rem auto;
  height: 100vh;
  transition: .35s;

  &.open {
    grid-template-columns: 25rem auto;
  }

  &__aside {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  }

  #main {
    > section {
      padding: 2.5rem;
    }
  }
}

@media all and (min-width: 768px) {
  .dashboard {
    #main {
      > section {
        max-width: 144rem;
        margin: 0 auto;
        padding: 5rem;
      }
    }
  }
}

@media all and (min-width: 1921px) {
  .dashboard {
    #main {
      > section {
        max-width: 192rem;
      }
    }
  }
}