.home__top {
  position: relative;
  padding-top: 3rem;
  text-align: right;
}

.card__wrap {
  position: relative;
  margin-top: 2rem;

  .card {
    + .card {
      margin-top: 1.5rem;
    }
  }
}

.btn__write {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-bottom: 1px solid #DDD;
  transition: .35s;

  &:hover {
    font-weight: 700;
  }
}

.no__board {
  padding: 2.4rem;
  text-align: center;
}

@media all and (min-width: 768px) {
  .card__wrap {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - .75rem));
    gap: 1.5rem;

    .card {
      + .card {
        margin-top: 0;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .card__wrap {
    grid-template-columns: repeat(3, calc(100% / 3 - 1rem));
  }
}

@media all and (min-width: 1400px) {
  .card__wrap {
    grid-template-columns: repeat(4, calc(25% - 1.2rem));
  }
}