.card {
  position: relative;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  transition: .35s;

  .card__thumbnail {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .card__content {
    padding: 1.6rem;

    &-title {
      margin-bottom: 1.6rem;
      font: {
        size: 1.6rem;
        weight: 700;
      }
      color: #212429;
    }

    &-summary {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      margin-bottom: 2.4rem;
      overflow: hidden;
      font: {
        size: 1.4rem;
      }
      text-overflow: ellipsis;
      line-height: 1.4;
      color: #495057;
      word-break: keep-all;
    }

    &-date {
      font: {
        size: 1.2rem;
      }
      color: #868e96;
    }

    &--writer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.3rem;
      padding: 1.6rem;
      border-top: 1px solid #ddd;

      .writer__name {
        font-size: 1.2rem;
        color: #212429;
      }

      span {
        font-size: 1.2rem;
        
        i {
          margin-right: .5rem;
        }
      }
    }
  }

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, .16);
  }
}

@media all and (min-width: 768px) {
  .card {
    .card__thumbnail {
      height: 15rem;
    }

    .card__content {
      &-summary {
        height: 7.9rem;
      }
    }
  }
}